body {
  padding: 2rem;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

main {
  display: grid;
  grid-template-columns: 1fr 6fr 9fr;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.84) 0%,
    rgba(0, 0, 0, 0.92) 100%
  );
  height: 75vh;
  width: 70vw;
  overflow: hidden;
  color: white;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  align-items: center;
}

.sidebar > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.7rem;
}

i {
  font-size: 1.2rem;
  color: white;
}
.recently-added {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  overflow: auto;
  padding: 1rem 0rem;
}

/* .recently-added::-webkit-scrollbar {
  display: none;
} */
.recently-added {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.recently-added::-webkit-scrollbar {
  width: 5px;
}

.recently-added::-webkit-scrollbar-track {
  background: #1f1d1d;
}

.recently-added::-webkit-scrollbar-thumb {
  background: #888;
  width: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.image-text-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.image-container {
  background: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  min-width: 40px;
  min-height: 40px;
}

.image-container > img {
  width: 30px;
  height: 30px;
}
.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.main img {
  width: 25%;
  object-fit: scale-down;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.2rem;
  flex: 2;
  margin-bottom: 0.5rem;
}

.bottom-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.2rem;
  flex: 1;
  margin-top: 0.5rem;
}

.grid-item {
  color: white;
  font-size: 1rem;
  background: royalblue;
  background-size: cover;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.grid-item div:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
}

.grid-item div:nth-of-type(2) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.subgrid {
  background: royalblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.subgrid > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.word {
  background: blue;
}
.excel {
  background: green;
}
.outlook {
  background: rgb(33, 33, 238);
}
.cloud {
  background: rgb(156, 150, 150);
}
.ppt {
  background: rgb(126, 37, 37);
}
.notes {
  background: rgb(134, 89, 172);
}

.subgrid > div > img {
  width: 50%;
  object-fit: scale-down;
}

.yahoo-cell-style {
  background: royalblue;
  display: flex;
  flex-direction: column;
}

.yahoo-cell-style > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
}
.bottom-cell-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0 0.2rem;
}

.bottom-cell-style img {
  width: 15%;
}
.weather {
  background-image: url(https://www.disneyanimation.com/img/uploads/resources/clouds/cloud-readme.jpg);
  background-size: cover;
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.weather-overlay {
  width: 100%;
  height: 100%;
  background: grey;
  opacity: 0.7;
  position: absolute;
}

.temperature {
  display: flex;
  gap: 3rem;
}
.temperature > div:first-of-type {
  font-size: 1.2rem;
}
span {
  display: block;
}
.temperature-flex {
  display: flex;
  flex-direction: column;
}
.temperature-flex > span:nth-of-type(2) {
  color: grey;
}
.temperature-text {
  z-index: 1;
}
.news {
  display: flex;
  justify-content: center;
  align-items: center;
}

.netflix {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://www.reddeeradvocate.com/wp-content/uploads/2018/11/14590237_web1_181129-RDA-Netflix-Canada-plans-biggest-price-increase-yet-as-competition-intensifies_1-1024x683.jpg);
}

.background-grey {
  background: rgba(122, 120, 120, 0.418);
}

.background-red {
  background: red;
}
